.centered
{
    text-align: center;
}

body
{
    width: 100%;
    text-align: center;
    background-color: #202124;
    color: #E8EAED;
}

li
{
    font-size: large;
    color: rgb(237, 237, 237);
    text-align: left;
}

ul
{
    text-align: center;
}

h1,h2,h3,p
{
    color: #E8EAED;
}

.answer
{
    display: none;
}

body.day-mode {
    background-color: #E8EAED;
    color: #202124;
}

h1.day-mode, h2.day-mode, h3.day-mode, p.day-mode,li.day-mode {
    color: #202124;
}

.footer{
    position: fixed; bottom:0; width:100%;
}

.fit-picture {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.navbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

input.form-control {
    width: 200px;
    margin: 0 auto;
    display: block;
}

.centered-container {
    width: 50%; /* Adjust the width as needed */
    margin: 0 auto;
    text-align: left;
    padding-left: 12%; /* Adjust padding to center content */
}

.table {
    text-align: center;
}
