{% extends "layout.html" %}

{% block title %}
    Triage
{% endblock %}

{% block main %}
    <form action="/triage" method="post">
        <div class="form-group">
            <h5>Triage form, please complete</h5>
            <h6>Name</h6>
            <input autocomplete="off" autofocus class="form-control" name="name" required placeholder="First and Last Name" type="text">
            <h6>Age</h6><input autocomplete="off" class="form-control" name="age" required placeholder="Age" type="integer" min="0" max="130" width: 100;>
            <h6>Gender</h6>
            <select name="gender" required>
                <option disabled selected value="">Gender</option>
                {% for gender in GENDER %}
                    <option value="{{ gender }}">{{ gender }}</option>
                {% endfor %}
            </select>
            <h6>Symptoms</h6>
            <h10>Enter symptoms keywords with space</h10>
            <h11>For example:  Fever Chest Pain ...</h11>
            <input autocomplete="off" autofocus class="form-control" name="symptom" placeholder="Symptom(s)" type="text" required>
            <h10>Select the worst symptom level</h10>
            <div class="centered-container">
                <h10>Level 1: barely noticeable: runny nose...</h10>
                <div></div>
                <h10>Level 2: noticeable: difficulty swallowing, mid fever, lethargy...</h10>
                <div></div>
                <h10>Level 3: extreme: cannot move, cannot eat...</h10>
                <div></div>
            </div>

            <select name="severity" required>
                <option disabled selected value="">Severity</option>
                {% for severity in SEVERITY %}
                    <option value="{{ severity }}">{{ severity }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

{% endblock %}
